@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link src="~/css/MyStyle.css" />
<div class="text-center">
    <h1>Calculadora Comunidad IT</h1>

    <div class="fondo-calculadora">
        <div class="row" id="DivPrincipal">
            <div class="row">
                <div class="col-12">
                    <input type="text" id="txtResultado" style="color:white" />
                </div>
            </div>
            <div class="row">

                <div class="col-3">
                    <button class="MyBtnCalc" id="7">7</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="8">8</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="9">9</button>
                </div>
                <div class="col-3">
                    <button class="btnCalculos" id="-">-</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="MyBtnCalc" id="4">4</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="5">5</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="6">6</button>
                </div>
                <div class="col-3">
                    <button class="btnCalculos" id="+">+</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="MyBtnCalc" id="1">1</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="2">2</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="3">3</button>
                </div>
                <div class="col-3">
                    <button class="btnCalculos" id="*">*</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="MyBtnCalc" id="0">0</button>
                </div>
                <div class="col-3">
                    <button class="btnC" id="c">C</button>
                </div>
                <div class="col-3">
                    <button class="btnCalculos" id="/">/</button>
                </div>
                <div class="col-3">
                    <button class="MyBtnCalc" id="=">=</button>
                </div>
            </div>
        </div>
    </div>



</div>
<script src="~/js/scripts.js"></script>



