.btnCalculos {
    border-color: aquamarine;
    width: 50px;
    background-color: aquamarine;
    border-radius: 5px;
    color: black;
    margin-top: 5px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
.btnC {
    border-color: orangered;
    width: 50px;
    background-color: red;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.MyBtnCalc {
    width: 50px;
    padding: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:5px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
}


#txtResultado {
    width: 223px;
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:10px;
    border-radius: 5px;
    background-color: black;
}

#DivPrincipal {
    width: 200px;
   
}
.fondo-calculadora {
    background-color: grey;
    width: 243px;
    height: 195px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}